<template>
    <button :disabled="buttonDisabled" :title="getTitle()">
        <slot></slot>
    </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
    methods: {
        getTitle() {
            if (this.buttonDisabled) {
                return `Cannot add${this.disabledReason}`;
            } else {
                return "";
            }
        },
    },
    props: {
        buttonDisabled: {
            type: Boolean,
            required: true,
        },
        disabledReason: {
            type: String,
            required: true,
        },
    },
});
</script>

<style scoped>
button {
    width: calc(100%);
    padding: 11px 0;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #00b074;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: 0.2s;
}

button:hover {
    background-color: #008c5c;
}

button:active {
    transform: translateY(1px);
}

button:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: #00b074;
}
</style>
