<template>
    <div class="latencyDisplay">
        <p v-if="!latencyCheck.latency">Empty</p>
        <p v-else-if="latencyCheck.successful" class="siteLatency">
            {{ latencyCheck.latency }}ms
        </p>
        <p v-else class="siteDown">DOWN</p>
    </div>
</template>

<script lang="ts">
import { LatencyCheck } from "@/definitions/LatencyCheck";
import { defineComponent, PropType } from "vue";
export default defineComponent({
    props: {
        latencyCheck: {
            type: Object as PropType<LatencyCheck>,
            required: true,
        },
    },
});
</script>

<style scoped>
.latencyDisplay {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.siteLatency {
    color: #00b074;
}

.siteDown {
    color: #f44c3d;
}
</style>
