<template>
    <div class="latencyChart">
        <canvas ref="context" width="160" height="20" />
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Chart from "chart.js/auto";
import { LatencyCheck } from "@/definitions/LatencyCheck";

interface LatencyChart {
    // The linter throws a tantrum if Chart<"line", number, number[]> is used
    // Seems like Chart doesn't match the actual Chart used
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    chart?: any;
}

export default defineComponent({
    data(): LatencyChart {
        return {};
    },

    mounted() {
        this.chart = undefined;
        this.processLatencies(this.latencies);
    },

    props: {
        latencies: {
            type: Array as PropType<LatencyCheck[]>,
            required: true,
        },
    },

    methods: {
        // Method that processes latencies for rendering
        processLatencies(latencyChecks: LatencyCheck[]) {
            const latencyLimits = this.getLatencyLimits(latencyChecks),
                pointDisplayCount = 10; // This determines the amount of points in the chart

            // Potentially create some empty points if there are less latency checks than should be displayed
            let placeHolderLength = 0;
            if (latencyChecks.length < pointDisplayCount) {
                placeHolderLength = pointDisplayCount - latencyChecks.length;
            }

            const latencies = new Array(placeHolderLength).fill(NaN);
            for (let check of latencyChecks) {
                if (check.successful) {
                    latencies.push(check.latency - latencyLimits.floorLatency);
                } else {
                    latencies.push(latencyLimits.offlineLatency);
                }
            }

            // Potentially prune the array of latencies if it's too long
            if (latencies.length > pointDisplayCount) {
                const overflowingPoints = latencies.length - pointDisplayCount;
                latencies.splice(0, overflowingPoints);
            }

            if (!this.chart) {
                this.createChart(latencies, latencyLimits.offlineLatency);
            } else {
                this.updateChart(latencies);
            }
        },

        // Method that calculates the max and min latencies
        getLatencyLimits(latencyChecks: LatencyCheck[]): {
            floorLatency: number;
            offlineLatency: number;
        } {
            if (latencyChecks.length == 0) {
                return { floorLatency: 0, offlineLatency: 0 };
            }

            let minLatency = latencyChecks[0].latency,
                maxLatency = minLatency;
            for (const check of latencyChecks) {
                if (check.successful) {
                    if (check.latency < minLatency) {
                        minLatency = check.latency;
                    }
                    if (check.latency > maxLatency) {
                        maxLatency = check.latency;
                    }
                }
            }

            // Round the latencies to 100, down for min and up for max
            const floorLatency = Math.floor(minLatency / 100) * 100,
                offlineLatency = Math.ceil(maxLatency / 100) * 100;

            return { floorLatency, offlineLatency };
        },

        // Method that creates the actual chart
        createChart(latencies: number[], offlineLatency: number) {
            const context = this.$refs.context as HTMLCanvasElement;

            const chartData = {
                labels: latencies,
                datasets: [
                    {
                        label: "My First Dataset",
                        data: latencies,
                        fill: false,
                        borderColor: "#00B074",
                        borderWidth: 2,
                        tension: 0,
                        segment: {
                            // This is disabled because PointElement of the ScriptableLineSegmentContext interface doesn't match the actual PointElement (raw doesn't exist)
                            // eslint-disable-next-line @typescript-eslint/no-explicit-any
                            borderColor: (ctx: any) => isOffline(ctx),
                        },
                    },
                ],
            };

            // This is disabled because PointElement of the ScriptableLineSegmentContext interface doesn't match the actual PointElement (raw doesn't exist)
            // eslint-disable-next-line @typescript-eslint/no-explicit-any
            function isOffline(ctx: any): string | undefined {
                return ctx.p0.raw == offlineLatency && ctx.p0.raw == ctx.p1.raw
                    ? "#F44C3D"
                    : undefined;
            }

            this.chart = new Chart(context, {
                type: "line",
                data: chartData,
                options: {
                    elements: {
                        point: {
                            radius: 0,
                        },
                    },
                    plugins: {
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        x: {
                            display: false,
                        },
                        y: {
                            display: false,
                        },
                    },
                    events: [],
                },
            });
        },

        updateChart(latencies: number[]) {
            if (this.chart != undefined) {
                this.chart.data.datasets[0].data = latencies;
                this.chart.update("normal");
            }
        },
    },

    watch: {
        latencies: function (newLatencies) {
            this.processLatencies(newLatencies);
        },
    },
});
</script>

<style scoped>
.latencyChart {
    background-color: #16171b;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px;
    width: 180px;
    display: inline-block;
}
</style>
