<template>
    <button class="removeSiteButton">
        <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M1 1L11 11" stroke-width="1.5" />
            <path d="M11 1L1 11" stroke-width="1.5" />
        </svg>
    </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({});
</script>

<style scoped>
.removeSiteButton {
    height: 12px;
    cursor: pointer;
    stroke: #6e7074;
    transition: 0.2s;
    padding: 0;
    background-color: unset;
    border: none;
}

.removeSiteButton:hover {
    stroke: #fff;
}
</style>
