<template>
    <div class="siteList">
        <div v-for="site of sites" :key="site.url" class="site">
            <div class="topSection">
                <p
                    class="siteUrl"
                    :title="site.url"
                    @click="openSite(site.url)"
                >
                    {{ sanetizeUrl(site.url) }}
                </p>
                <RemoveSiteButton
                    :title="`Remove ${site.url}`"
                    @click="$emit('removeSite', site.url)"
                ></RemoveSiteButton>
            </div>
            <div class="latencySection">
                <!-- Latencies are ordered as latest first. Reverse them to get the most recent on the right -->
                <LatencyChart
                    :latencies="site.latencies.slice().reverse()"
                ></LatencyChart>
                <LatencyDisplay
                    :latencyCheck="site.latencies[0] ? site.latencies[0] : {}"
                ></LatencyDisplay>
            </div>
        </div>

        <!-- Empty state -->
        <div v-if="sites.length == 0">
            <p class="emptyHeader">No sites watched</p>
            <p class="emptyInstruction">
                Go to a site you want to watch, and click "Add current site"
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

// Components
import LatencyChart from "./LatencyChart.vue";
import LatencyDisplay from "./LatencyDisplay.vue";
import RemoveSiteButton from "./RemoveSiteButton.vue";

// Types
import { Site } from "../../definitions/Site";

export default defineComponent({
    components: {
        LatencyChart,
        LatencyDisplay,
        RemoveSiteButton,
    },

    emits: ["removeSite"],

    methods: {
        // Adjust the padding depending on whether or not the scrollbar is visible
        handleScrollBar() {
            if (this.scrollBarVisible()) {
                this.$el.classList.add("paddingWithScrollbar");
            } else {
                this.$el.classList.remove("paddingWithScrollbar");
            }
        },

        // Method that removes everything but the TLD (Top-Level Domain)
        sanetizeUrl(url: string) {
            let cleanUrl = url;

            // Remove protocol
            if (cleanUrl.includes("//")) {
                cleanUrl = cleanUrl.substring(cleanUrl.indexOf("//") + 2);
            }

            // Remove path
            if (cleanUrl.includes("/")) {
                cleanUrl = cleanUrl.substring(0, cleanUrl.indexOf("/"));
            }

            // Remove query (only relevant if there was no path)
            if (cleanUrl.includes("?")) {
                cleanUrl = cleanUrl.substring(0, cleanUrl.indexOf("?"));
            }

            return cleanUrl;
        },

        scrollBarVisible() {
            const scrollHeight = this.$el.scrollHeight,
                clientHeight = this.$el.clientHeight,
                scrollVisible = scrollHeight > clientHeight;

            return scrollVisible;
        },

        openSite(siteUrl: string) {
            chrome.tabs.create({ url: siteUrl });
        },
    },

    mounted() {
        this.handleScrollBar();
    },

    props: {
        sites: {
            type: Array as PropType<Site[]>,
            required: true,
        },
    },

    watch: {
        sites: {
            handler() {
                this.$nextTick(this.handleScrollBar);
            },
            deep: true,
        },
    },
});
</script>

<style scoped>
.siteList {
    overflow-y: auto;
    padding: 0 24px;
}

.site {
    padding: 12px 0;
}

.topSection {
    display: flex;
    justify-content: space-between;
}

.siteUrl {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
}

.latencySection {
    display: flex;
}

.emptyHeader {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.emptyInstruction {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.paddingWithScrollbar {
    padding-right: 14px;
}

/* Scrollbar styling */
.siteList::-webkit-scrollbar {
    width: 10px;
}

.siteList::-webkit-scrollbar-track {
    background: #1f2125;
}

.siteList::-webkit-scrollbar-thumb {
    background: #111215;
    border-radius: 6px;
}

.siteList::-webkit-scrollbar-thumb:hover {
    background: #08090a;
}
</style>
