<template>
    <a :href="url" target="_blank"><slot></slot></a>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        url: {
            type: String,
            required: true,
        },
    },
});
</script>

<style scoped>
a {
    display: block;
    font-size: 10px;
    padding: 6px;
    /* To offset the above padding */
    margin-bottom: -6px;
    margin-top: 6px;
    color: #6e7074;
    transition: 0.2s;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #8b8c8f;
}

a:active {
    transform: translateY(1px);
}
</style>
