<template>
    <div class="popup">
        <MainSection></MainSection>
        <Footer></Footer>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import MainSection from "./sections/MainSection.vue";
import Footer from "./sections/Footer.vue";

export default defineComponent({
    components: {
        MainSection,
        Footer,
    },
});
</script>

<style scoped>
.popup {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
</style>
