<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript>
            <strong
                >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't
                work properly without JavaScript enabled. Please enable it to
                continue.</strong
            >
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
    <style>
        @font-face {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            src: url("fonts/OpenSans-Regular.ttf") format("truetype");
        }

        @font-face {
            font-family: "Open Sans";
            font-style: bold;
            font-weight: 700;
            src: url("fonts/OpenSans-Bold.ttf") format("truetype");
        }

        html,
        body {
            margin: 0;
            padding: 0;
            font-family: "Open Sans";
            box-sizing: border-box;
        }

        body {
            height: 420px;
            width: 300px;
            background-color: #1f2125;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
    </style>
</html>
