<template>
    <div class="footer">
        <Button
            @click="addSite"
            :buttonDisabled="addButtonDisabled"
            :disabledReason="disabledReason"
            >Add current site</Button
        >
        <!-- TODO: Replace with the link to an actual form -->
        <TextLink url="https://placeholder.com">Give feedback</TextLink>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Button from "../components/Button.vue";
import TextLink from "../components/TextLink.vue";

export default defineComponent({
    components: {
        Button,
        TextLink,
    },

    created() {
        this.toggleAddButton();

        // Dynamically disable/enable the add button
        this.$watchList.listenForUpdates(this.toggleAddButton);
    },

    data: () => ({
        addButtonDisabled: false,
        disabledReason: "",
    }),

    methods: {
        async addSite() {
            const url = await this.getCurrentUrl();
            this.$watchList.addSite(url);
        },

        async getCurrentUrl(): Promise<string> {
            const [tab] = await chrome.tabs.query({
                active: true,
                currentWindow: true,
            });
            return tab.url ? tab.url : "";
        },

        isExternalUrl(url: string): boolean {
            return url.includes("http");
        },

        async toggleAddButton() {
            const url = await this.getCurrentUrl();

            // Make sure the site isn't already added
            if (await this.$watchList.contains(url)) {
                this.addButtonDisabled = true;
                this.disabledReason = ", url already watched";
                return;
            }

            if (!this.isExternalUrl(url)) {
                this.addButtonDisabled = true;
                this.disabledReason = ` ${url}, can only watch external urls`;
                return;
            }

            this.addButtonDisabled = false;
        },
    },
});
</script>

<style scoped>
.footer {
    width: 100%;
    padding: 12px 24px;
    background-color: #16171b;
}
</style>
