<template>
    <div class="mainSection">
        <p class="logo">DownAlert</p>
        <SiteList :sites="sites" @removeSite="removeSite"></SiteList>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SiteList from "../components/SiteList.vue";
import { Site } from "@/definitions/Site";

export default defineComponent({
    components: {
        SiteList,
    },
    async created() {
        this.sites = await this.$watchList.getAllSites();

        this.$watchList.listenForUpdates((newSites) => {
            this.sites = newSites;
        });
    },
    data: () => ({
        sites: [] as Site[],
    }),
    methods: {
        async removeSite(siteUrl: string) {
            await this.$watchList.removeSite(siteUrl);
        },
    },
});
</script>

<style scoped>
.mainSection {
    flex: 1;
    height: 333px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 12px;
}
</style>
